
body {
    background-color: #445863;
}

img {
    max-width: 100%;
    max-height: 400px;
}

.wine {
    .panel-body {
        text-align: center;
    }
}

.welcome {
    font-size: 25px;
    margin: 10px;

    color: #fff;

    .panel {
        color: #000;
    }
}

.fix-pos {
    margin-top: -6px;
    margin-right: -12px;
}

#results {
    flex-wrap: wrap;
    justify-content: center;
}

.wine-result {
    align-items: stretch;
    position: absolute;
    min-width: 325px;
    max-width: 325px;
    left: 0;
    transition: all 1s ease;
    padding-bottom: 60px;

    .panel-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}
