{% extends "welcome.html" %}

{% block nav_home %}active{% endblock %}

{% block content %}
    <img src="images/logo.jpg" alt="Logo"><br>
    <br id="welcome-page">
    Hey!<br>
    Stiff konntest Du es dir einrichten an die 3. Weinmesse in der Laubegg WG zu kommen!<br>
    <br>
    Es freut uns mega, dass Du da bist und nicht auf den Teppich kotzen wirst.<br>
    <br>
    #drinkresponsible<br>
    <br>
    Aber sag nochmal deinen Namen bitte, hab ihn schon wieder vergessen...<br>
    <br>
    <form id="user-form">
        <div class="form-group">
            <input type="text" name="user-name" id="user-name" class="form-control" required minlength="3">
        </div>

        <input type="submit" value="Weiter" class="btn btn-primary">
    </form>
{% endblock %}
