{% extends "welcome.html" %}

{% block nav_home %}active{% endblock %}

{% block content %}
    <br>
    Super!<br>
    Ich sag dir nur noch schnell wie das mit diesem Voting funktioniert.<br>
    <br>
    Du kannst deinen 3 Liebslingsweinen Punkte (<span class="glyphicon glyphicon-heart"></span>) geben, ein mal 3, ein mal 2 und ein mal 1.<br>
    Deine vergebenen Punkte kannst du jederzeit wieder ändern.<br>
    <br>
    Der Wein der am Schluss am meisten Punkte hat gewinnt.<br>
    <br>
    Also, los gehts! Have fun!<br>
    <br>
    <a href="voting.html">Zum Voting &rarr;</a>
{% endblock %}
