{% extends "welcome.html" %}

{% block nav_home %}active{% endblock %}

{% block content %}
    <img src="images/logo.jpg" alt="Logo"><br>
    <br>
    Super!<br>
    I säge nume no gschnäu wie das mitem Voting funktioniere wird.<br>
    <br>
    Du chasch dine 3 Lieblings-Wii Pünkt (<span class="glyphicon glyphicon-heart"></span>) gäh, einisch 3, einisch 2 und einisch 1.<br>
    Dini vergäbene Pünkt chasch du jederzit wieder ändere.<br>
    <br>
    Dä Wii wo am Schluss vom Abe am meiste Pünkt het, überchunt de Goldig Korke.<br>
    <br>
    Auso, los geits! Have fun!<br>
    <br>
    <a href="voting.html">Zum Voting &rarr;</a>
{% endblock %}
