{% extends "welcome.html" %}

{% block nav_home %}active{% endblock %}

{% block content %}
<h2>
	Regeln
</h2>
<p>
	Du kannst deinen 3 Liebslingsweinen Punkte
	(<span class="glyphicon glyphicon-heart"></span>)
	geben, ein mal 3, ein mal 2 und ein mal 1.
	Deine vergebenen Punkte kannst du jederzeit wieder ändern.
	Mit dem Häckchen kannst du einen Wein als "probiert" markieren.
	<br>
	<br>
	Der Wein der am Schluss am meisten Punkte hat gewinnt.
</p>
<p>
	Also, los gehts! Have fun!
	<br>
</p>
<p>
	<a href="voting.html">Zum Voting &rarr;</a>
</p>
{% endblock %}
